<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniversityCourseTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1327C0ED1D445D5000F5F742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1327C1041D445D5100F5F742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1327C10F1D445D5100F5F742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
